
    #navMenu ul{
        padding-left: 5px;
        border-radius: 4px;
    } 
    #app {
        margin-left: 152px;
        margin-right: 152px;
    }
    #banner{
        margin-top:3px;
    }
    .el-carousel {
        border-radius: 4px;
    } 
    .el-carousel__item h3 {
        color: #475669;
        font-size: 14px;
        opacity: 0.75;
        margin: 0;
    }

    .el-carousel__item:nth-child(2n) {
        background-color: #99a9bf;
    }

    .el-carousel__item:nth-child(2n+1) {
        background-color: #d3dce6;
    }
    .transition-box {
        margin-bottom: 10px;
        width: 200px;
        height: 100px;
        border-radius: 4px;
        background-color: #409EFF;
        text-align: center;
        color: #fff;
        padding: 40px 20px;
        box-sizing: border-box;
        margin-right: 20px;
    }
